<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Create an Account</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>

		<div class="navbar">
			<h1>CANARY REPAIRS</h1>
		</div>

		<section class="login-form">
			
			<div class="login">
				<h1>Create An Account</h1>
				<form action="/register" enctype="multipart/form-data" method="post">
					
					<div class="textbox">
						<input type="text" name="fullName" placeholder="Enter Full Name..." value="">
					</div>

					<div class="textbox">
						<input type="email" name="email" placeholder="Enter Email Address..." value="">
					</div>

					<div class="textbox">
						<input type="text" name="user" placeholder="Enter Username..." value="">
					</div>

					<div class="textbox">
						<input type="password" name="pass" placeholder="Enter Password..." value="">
					</div>

					<input class="button" type="submit" value="Create">
				</form>
			</div>
		</section>

		<footer>&copy Copyright 2019  Canary Repairs</footer>

	</body>
</html>
